<h1>Login Form</h1>
<form class="form-signin">
<h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
<label for="inputUsername" class="sr-only">Username</label>
<input type="text" id="inputUsername" name="username" [(ngModel)]="username" placeholder="Username" required autofocus class="form-control"/>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" name="password"[(ngModel)]="password" placeholder="Password" required class="form-control"/>
<button class="btn btn-lg btn-primary btn-black" (click)="login()">Sign In</button>
</form>
